{% extends 'layout.html' %}

{% block main %}
    {% for message in messages %}

    <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
    <strong>{{message}}</strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}

    <section class="main-section">
        <div class="container-fluid">
            <div class="d-flex justify-content-between mb-3">
                <div class="align-self-center">
                    <h2 class="common-title mb-0">Manage Practices 
                           </h2>
                </div>
                <div class="align-self-center">
                    <a href="#addPrac" class="btn btn-sm btn-primary" data-bs-toggle="modal"><i
                            class='ri-add-line align-middle me-1'></i>Add Practice<br/>

                        </a>
                </div>
            </div>
            <!-- Add Records Modal -->
            <!-- modal -->
            <div class="modal fade" id="addPrac" data-bs-backdrop="static" data-bs-keyboard="false">
                <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Add Practice Information</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                        </div>
                        <form action="/practice/save" method="post" id="practice_submit_frm">
                            {% csrf_token %}
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-md-6 mb-2">
                                        <label>Name</label>
                                        <input type="text" name="name" id="name" class="form-control form-control-sm" required>
                                    </div>
                                    <div class="col-md-6 mb-2">
                                        <label>Address 1</label>
                                        <input type="text" name="address1" id="address1" class="form-control form-control-sm" required>
                                    </div>
                                    <div class="col-md-6 mb-2">
                                        <label>Address 2</label>
                                        <input type="text" name="address2" name="address2" class="form-control form-control-sm" required>
                                    </div>
                                    <div class="col-md-6 mb-2">
                                        <label>Email</label>
                                        <input type="email" name="email_id" class="form-control form-control-sm" required>
                                    </div>
                                    <div class="col-md-6 mb-2">
                                        <label>Phone</label>
                                        <input type="tel" name="phone" class="form-control form-control-sm" required>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-primary" id="savePrac">Save
                                    <i class="bx bx-loader bx-spin align-middle ms-2 font-size-16"></i>
                                </button>
                                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- table -->
            <div class="table-responsive patient_table ">
                <table class="table table-sm table-bordered c_table">
                    <thead>
                    <tr>
                        <th>Practice Name</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody class="prc_tbl">
                        {% for row in rows %}
                        <tr>
                            <td> {{ row.name }} </td>
                            <td> {{ row.email_id }} </td>
                            <td> {{ row.phone }} </td>
                            <td>
                                 <ul class="list-inline">
                                <li class="list-inline-item"><a href="#editPrac" class="editPrc" data-id="{{row.id}}" title="Edit"><i class="bx bx-edit"></i></a></li>
                                <li class="list-inline-item"><a href="#deletePrac" class="deletePrc" data-id="{{row.id}}" title="Detele"><i class="bx bx-trash text-danger"></i></a></li>
                                </ul>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>



            <div class="modal fade" id="editPrac" data-bs-backdrop="static"
                 data-bs-keyboard="false">
                <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Add Practice Information</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                        </div>
                        <form action="/practice/save/" method="post" id="prc_update">
                            {% csrf_token %}
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-md-6 mb-2">
                                        <label>Name</label>
                                        <input type="text" name="name" class="form-control form-control-sm prcname" required>
                                        <input type="hidden" name="prc_id" class="form-control form-control-sm prc_id" required>
                                    </div>
                                    <div class="col-md-6 mb-2">
                                        <label>Address 1</label>
                                        <input type="text" name="address_1" class="form-control form-control-sm prcaddress_1" required>
                                    </div>
                                    <div class="col-md-6 mb-2">
                                        <label>Address 2</label>
                                        <input type="text" name="address_2" class="form-control form-control-sm prcaddress_2" required>
                                    </div>
                                    <div class="col-md-6 mb-2">
                                        <label>Email</label>
                                        <input type="email" name="email_id" class="form-control form-control-sm prcemail" required>
                                    </div>
                                    <div class="col-md-6 mb-2">
                                        <label>Phone</label>
                                        <input type="tel" name="phone" class="form-control form-control-sm prcphone" required>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-primary">Save<i
                                        class="bx bx-loader bx-spin align-middle ms-2 font-size-16"></i></button>
                                <button type="button" class="btn btn-danger"
                                        data-bs-dismiss="modal">Close</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </section>
{% endblock main %}

{% block script %}
    <script>
        $('.bx-spin').hide();
        $(document).ready(function () {
            var ENDPOINT = "{{ request.scheme }}://{{ request.META.HTTP_HOST }}/";
            var page = 1;
            var current_page = 0;
            let bool = false;
            let lastPage;
            var currentscrollHeight = 0;


            /*
            $(window).scroll(function() {
                const scrollHeight = $(document).height();
                const scrollPos = Math.floor($(window).height() + $(window).scrollTop());
                const isBottom = scrollHeight - 100 < scrollPos;
                if (isBottom && currentscrollHeight < scrollHeight) {
                    page++;
                    //alert('calling...');
                    var myurl = ENDPOINT + '/admin/setting/practice/get/all?page=' + page
                    getData(myurl);
                    currentscrollHeight = scrollHeight;
                }
            });
            */

            function getAllPractice(){
                page = 1;
                currentscrollHeight = 0;
                $.ajax({
                    type: "POST",
                    url: ENDPOINT + 'practice/list',
                    data: {
                        '_token': "{{ csrf_token }}",
                        'type' : 1
                    },
                    success: function (data) {
                        console.log(data);
                        $('.prc_tbl').empty();
                        if (data.count_prc > 0){
                            $('.prc_tbl').append(data.view);
                        }
                        $('.loading2').hide();
                    }
                });
            };

            function getAllPracticeView(){
                page = 1;
                currentscrollHeight = 0;
                $.ajax({
                    type: "GET",
                    url: ENDPOINT + '/practice/list/view',
                    data: {
                        '_token': "{{ csrf_token }}",
                        'type' : 1
                    },
                    success: function (data) {
                        console.log(data);
                        $('.prc_tbl').empty();
                        $('.prc_tbl').append(data.view);
                        $('.loading2').hide();
                    }
                });
            };

            //getAllPractice();
            getAllPracticeView();


            // create practice
            $(document).on('submit','#practice_submit_frm',function (e) {
                e.preventDefault();
                $('.bx-spin').show();

                var data = $(this).serialize();
                console.log(data);

                var formData = new FormData(this);
                $.ajax({
                    method:'POST',
                    '_token': "{{ csrf_token }}",
                    url: "/practice/save/",
                    data: data,
                    success: (data) => {
                        console.log(data);
                        if (data == 'prac_created'){
                            $('.bx-spin').hide();
                        }else {
                            $('.bx-spin').hide();
                        }
                        $('#addPrac').modal('hide');
                        toastr["success"]("Form Successfully Created", 'SUCCESS!');
                        getAllPracticeView();
                    },
                    error: function(data) {
                        console.log(data);
                    }
                });
            });


            //single practice
            $(document).on('click','.editPrc',function (e) {
                e.preventDefault();
                let prc_id = $(this).data('id');
                $.ajax({
                    type: "GET",
                    url: "/practice/get",
                    data: {
                        '_token': "{{ csrf_token }}",
                        'id' : prc_id,
                        'prc_id' : prc_id
                    },
                    success: function (resp) {
                        console.log(resp);
                        //alert(data.rows);
                        if (resp.status == 0 || resp.length < 1) 
                        {
                            alert(resp.message)
                            return;
                        }
                        data = resp.data[0];
                        $('#editPrac').modal('show');
                        $('.prc_id').val(data.id);
                        $('.prcname').val(data.name);
                        $('.prcaddress_1').val(data.address1);
                        $('.prcaddress_2').val(data.address2);
                        $('.prcemail').val(data.email_id);
                        $('.prcphone').val(data.phone);
                    }
                });
            });


            // update practice
            $(document).on('submit','#prc_update',function (e) {
                e.preventDefault();
                $('.bx-spin').show();

                var data = $(this).serialize();
                console.log(data);

                var formData = new FormData(this);
                $.ajax({
                    method:'POST',
                    _token: "{{ csrf_token }}",
                    url: ENDPOINT + 'practice/update',
                    data: data,
                    success: (data) => {
                        console.log(data);
                        if (data == 'prac_updated'){
                            $('.bx-spin').hide();
                        }else {
                            $('.bx-spin').hide();
                        }
                        $('#editPrac').modal('hide');
                        getAllPractice();
                        // toastr["success"]("Form Successfully Created", 'SUCCESS!');

                    },
                    error: function(data) {
                        console.log(data);
                    }
                });
            });

            //delete practice
            $(document).on('click','.deletePrc',function (e) {
                e.preventDefault();
                let prc_id = $(this).data('id');
                $.ajax({
                    type: "GET",
                    _token: "{{ csrf_token }}",
                    url: ENDPOINT + "practice/delete/",
                    data: {
                        '_token': "{{ csrf_token }}",
                        'prc_id' : prc_id,
                        'id' : prc_id,
                    },
                    success: function (data) {
                        console.log(data);
                        getAllPracticeView();
                    }
                });
            });
        });

        function getData(myurl) {
            $.ajax({
                url: myurl,
                type: "POST",
                data: {
                    '_token': "{{ csrf_token }}",
                    'type': 1,
                },
                datatype: "html"
            }).done(function(data) {
                console.log(data)
                if (data.count_prc > 0){
                    $('.prc_tbl').append(data.view);
                }
                $('.loading2').hide();
                // location.hash = myurl;
            }).fail(function(jqXHR, ajaxOptions, thrownError) {
                alert('No response from server');
                $('.loading2').hide();
            });
        }
    </script>
{% endblock script %}
